@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

//THEME COLORS
$black: #000;
$light-gray: #d5d5d5;
$dark-gray: #656565;
$neon: #47df4a;
$light-neon: #72e473;
$services-green: #76c101;

//WHITE AND GRAY COLORS
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$light: $black;
$dark: $gray-600;
$btn-close-color: $white;

//LINEAR GRADIENTS
$gray-gradient: linear-gradient(
  to right,
  rgba($gray-100, 0.5),
  rgba($gray-400, 0.5)
);

$green-gradient: linear-gradient(
  to right,
  rgba($light-neon, 0.2),
  rgba($neon, 0.6)
);

$black-gradient: linear-gradient(
  to right,
  rgba($black, 0.1),
  rgba($black, 0.6)
);

$enterprise-gradient: linear-gradient(
  to right,
  rgba($neon, 0.2),
  rgba($black, 0.6)
);

///////////////MIXINS/////////////
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

////////////////////////////RESET//////////////////////
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

////////////////////////////NAVBAR////////////////////////

.navbar {
  height: 5rem;
  &-nav a {
    color: $white;
    margin-left: 3rem;
  }

  &-o {
    color: $neon;
  }

  &__login {
    border-radius: 20px;
    border: 1px solid $neon;
    background-color: black;
    padding: 0.5rem;
    width: 25rem;
    margin-top: 2.5rem;
    font-size: 1.3rem;
    font-size: 1.8rem;
    color: $white;

    &:active {
      background-color: $neon;
      color: $black;
    }
  }
}

.navbar,
.nav-link.active {
  color: $neon !important;
}

.navbar-brand > h1 {
  color: $white !important;
  margin: 2rem;
  font-size: 2.5rem;
  font-weight: 800;
}

//Changing hamburger line colors.
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke=' rgba(213, 213, 213, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  padding: 1.5rem;
}

/////////////////////OFFCANVAS////////////////////////////////

.offcanvas-body,
.offcanvas-header {
  background-color: $light;
}

.offcanvas-body {
  text-align: center;
  font-size: 2rem;
}

.offcanvas-title {
  color: $white;
  padding: 2rem;
  font-size: 2.5rem !important;
  font-weight: 800;
}
.btn-close {
  padding: 1rem !important;
  margin: 1.5rem !important;
  border: 2px solid $neon !important;
}

.nav-link {
  margin-top: 2.5rem;
}

////////////////////////////////HERO///////////////////////////////////

.hero {
  color: $light-gray;

  &__container {
    min-width: 100%;
    background-color: $black;
    display: flex;
    flex-direction: column;
  }

  &__left {
    @include flex-column();

    font-size: 1rem;
    padding: 1rem;
    margin-top: 4rem;
  }

  &__header {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.9rem;
    font-weight: 700;
  }

  &__right {
    width: 50%;
  }

  &__image {
    margin-top: 2rem;
    width: 100vw;
    height: auto;
  }

  &__text {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    width: 75%;
    font-weight: 300;
    line-height: 2.3rem;
  }
}

#hero__button {
  border-radius: 20px;
  border: none;
  background-color: $neon;
  padding: 0.5rem;
  width: 25rem;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  color: $black;

  &:active {
    background-color: $black;
    color: $white;
    border: 1px solid $neon;
  }
}

///////////////////////////MAIN/////////////////////////////
.main {
  @include flex-column();
  background-color: $gray-200;

  & > svg {
    margin-top: 2.5rem;
  }
}

.card__text {
  width: 50%;
  color: $black;
  margin-top: 1rem;

  &:last-child {
    margin-bottom: 4rem;
  }
}

.card__title {
  margin-top: 1rem;
}

////////////////////////////////PRICING//////////////////////////
.background {
  width: 97%;
  margin: 0.5rem;
  padding: 0.6rem;
}

.pricing__card {
  @include flex-column();
  width: 100%;
  margin-top: 0.5rem;

  &-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    &-gray {
      background-image: $gray-gradient;
    }

    &-green {
      background-image: $green-gradient;
    }

    &-black {
      background-image: $black-gradient;
    }
    &-green-black {
      background-image: $enterprise-gradient;
    }
  }

  &-content {
    @include flex-column();
    margin-top: 1rem;
  }

  &-title {
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 1rem;
  }

  &-price {
    font-weight: 700;
  }

  &-details {
    width: 45%;
    margin-top: 1rem;
  }
}

.pricing__button {
  margin-top: 2rem;
  padding: 1rem;
  background-color: $white;
  border: 1px solid $gray-500;
  width: 40%;

  &:active {
    background-color: $gray-400;
  }
}
.pricing__options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  &-btn {
    &:link,
    &:visited {
      font-size: 1rem;
      color: $neon;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $neon;
      padding: 3px;
      transition: all 0.2s;
    }
  }
}

.pricing__list {
  @include flex-column();
  margin-top: 1.5rem;

  &-ul {
    list-style: none;
  }

  &-ul li::before {
    color: $neon;
    content: "✓";
    margin-right: 0.5rem;
  }

  &-li {
    margin-top: 0.5rem;
  }
}

////////////////REVIEWS///////////////////////

.star {
  margin-top: 4rem;
}

.reviews {
  position: relative;

  &__container {
    @include flex-column();
  }

  &__header {
    margin-top: 1.5rem;
    color: $black;
    font-weight: 800;
  }

  &__text {
    width: 65%;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1rem;
    color: $black;
    font-weight: 400;
  }

  &__author {
    margin-top: 1rem;
    font-size: 1rem;
    color: $black;
  }
}

.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.18;
  overflow: hidden;

  &-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/////////////////////FOOOTER//////////////////////////
.footer {
  @include flex-column();
  background-color: $black;
  color: $gray-300;

  &__left {
    margin-top: 2rem;
    padding: 1rem;

    & > p {
      font-size: 1.3rem;
    }
  }

  &__right {
    margin-top: 3rem;
    padding: 1rem;

    & > * {
      margin-right: 1.5rem;
    }
  }

  &__break {
    color: $gray-300;
    width: 95%;
  }

  &__copyright {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

//////////////////MODAL-FORM//////////////////

#modal {
  background-color: $gray-900;

  &__header,
  &__footer {
    background-color: $gray-900;
    display: flex;
    justify-content: space-around;
  }

  &__header > h4 {
    color: $white;
    font-size: 2rem;
  }

  &__close,
  &__submit {
    padding: 0.5rem;
    width: 15rem;
    font-size: 1.4rem;
  }

  &__submit {
    background-color: $neon;
    color: $black;
    border: none;
  }
}

#form {
  &__label {
    color: $white;
    font-size: 1.3rem;
  }

  &__input {
    padding: 1rem;
    font-size: 1.5rem;
  }
}

.form__error {
  color: red !important;
  margin-top: 1rem;
}

.form__success {
  @include flex-column();

  background-color: #000;
  color: $white;

  &-thanks {
    font-size: 2rem;
    padding: 0.2rem;
  }

  &-text {
    font-size: 1.3rem;
    width: 70%;
    padding: 1.5rem;
  }

  &-close {
    background-color: $black;
    color: $white;
    padding: 0.5rem;
    font-size: 2.5rem;
    border: none;
  }
}

////////ABOUT SECTION////////////

.about {
  @include flex-column();

  &__left {
    @include flex-column();
  }

  &__right {
    margin: 2rem auto;
  }

  &__title,
  &__history {
    font-weight: 800;
  }

  &__text {
    font-size: 1.4rem;
    width: 60%;
  }

  &__title {
    margin-top: 2rem;
  }

  &__photo {
    width: 100%;
  }

  &__works {
    @include flex-column();

    &-photo {
      width: 100%;
    }
  }

  &__button {
    width: 90%;
    padding: 1rem;
    margin: 2rem auto;
    color: $black;
    background-color: $neon;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 3px 0px 1px $gray-300;
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
